@import "tailwindcss";

@theme {
  --color-primary: #0a2239;
  --color-secondary: #f4a261;
  --color-tertiary: #2563eb;
}

:root {
  --primary: var(--color-primary);
  --secondary: var(--color-secondary);
  --tertiary: var(--color-tertiary);

}
