---
import Image from "@components/ui/Image.astro";
import SectionLayout from "@layouts/SectionLayout.astro";
---

<SectionLayout
 header={{
  tag: "Sobre Nosotros",
  title: "Construcción y Mantenimiento Industrial",
  description: "En HE INGENIERÍA S.A.C. nos especializamos en ingeniería y construcción de alta calidad. Contamos con un equipo altamente capacitado para llevar a cabo proyectos de infraestructura eléctrica, sistemas de protección a tierra y mantenimiento eléctrico.",
  dark: true
 }}
id="about" class="bg-primary text-white sm:py-20 py-1">
    {/* Image Grid Animation */}
    <div
      class="relative flex flex-col justify-between h-full w-full mt-5"
    >
      <div class="w-full">
        {/* Row 1 */}
        <div class="flex flex-col sm:gap-x-10 w-full mb-10 sm:flex-row">
          <Image
            severity="tertiary"
            src="https://images.unsplash.com/photo-1498084393753-b411b2d26b34?auto=format&fit=crop&q=80&w=1469&ixlib=rb-4.0.3"
          />

          <Image
            severity="secondary"
            src="https://images.unsplash.com/photo-1498084393753-b411b2d26b34?auto=format&fit=crop&q=80&w=1469&ixlib=rb-4.0.3"
          />
        </div>

        {/* Row 2 */}
        <div class="flex flex-col  sm:gap-x-10 w-full mb-5 sm:flex-row">
          <Image
            severity="tertiary"
            src="https://images.unsplash.com/photo-1498084393753-b411b2d26b34?auto=format&fit=crop&q=80&w=1469&ixlib=rb-4.0.3"
          />

          <Image
            severity="secondary"
            src="https://images.unsplash.com/photo-1498084393753-b411b2d26b34?auto=format&fit=crop&q=80&w=1469&ixlib=rb-4.0.3"
          />

          <Image
            severity="tertiary"
            src="https://images.unsplash.com/photo-1498084393753-b411b2d26b34?auto=format&fit=crop&q=80&w=1469&ixlib=rb-4.0.3"
          />
        </div>
      </div>
    </div>

</SectionLayout>
