---
type Props = {
  src: string;
  severity?: "primary" | "secondary" | "tertiary";
};

const { src, severity = "primary" } = Astro.props as Props;
---

<div class="w-full mb-10 sm:mb-0 sm:w-1/2">
  <div class="relative h-full ml-0 mr-0">
    <span
      class:list={[
        "absolute top-0 left-0 w-full h-full mt-1 ml-1 rounded-lg",
        severity === "tertiary" && "bg-tertiary",
        severity === "secondary" && "bg-secondary",
        severity === "primary" && "bg-primary",
      ]}></span>
    <div
      class:list={[
        "relative h-full p-1 bg-primary border-2 rounded-lg",
        severity === "tertiary" && "border-tertiary",
        severity === "secondary" && "border-secondary",
        severity === "primary" && "border-primary",
      ]}
    >
      <img src={src} alt="sobre nosotros" />
    </div>
  </div>
</div>
